.home-container {
    .home-intro-text {
        color: #fff;
        font-family: Libre Franklin, sans-serif;
        font-size: 1.6rem;
        font-weight: 700;
        .company {
            font-family: Monomaniac One, sans-serif;
            font-style: italic;
        }
    }
    .home-city-cards-container {
        display: flex;
        white-space: nowrap;
        overflow-x: scroll;
        scrollbar-width: none;
        .home-city-cards-location-container {
            margin-right: 9px;
            .location-title {
                font-family: Libre Franklin, sans-serif;
                font-size: 0.8rem;
                color: #fff;
                margin-bottom: 2px;
                letter-spacing: 1px;
                opacity: 0.7;
                margin-bottom: 5px;
            }
            .location-cards {
                display: flex;
                gap: 7px;
            }
        }
        
    }
}